<!DOCTYPE html>
<html>
  <head>
    <title>Messages</title>
    <link rel="stylesheet" href="static/css/style.css" />
  </head>
  <body>
    {% include "partials/menu.html" %}
    <main>
      <div class="messages-wrapper">
        <div class="chat-list">
          <div class="chat-user active">xx</div>
          <div class="chat-user">xx</div>
          <div class="chat-user">xx</div>
          <div class="chat-user">xx</div>
          <div class="chat-user">xx</div>
          <div class="chat-user">xx</div>
        </div>
        <div class="chat-content">
          <div class="messages">
            <div class="message">
              <div class="message-bubble">x</div>
            </div>
            <div class="message sent">
              <div class="message-bubble">x</div>
            </div>
            <div class="message">
              <div class="message-bubble">x</div>
            </div>
            <div class="message sent">
              <div class="message-bubble">x</div>
            </div>
          </div>
          <form class="chat-input-form">
            <input type="text" placeholder="Type a message..." />
            <button class="btn" type="submit">Send</button>
          </form>
        </div>
      </div>
      {% block content %}{% endblock %}
    </main>
    <script src="static/js/app.js"></script>
  </body>
</html>
